@font-face {
    font-family: "Minangkabau";
    src: url("../fonts/Minangkabau.TTF");
} 
@font-face {
    font-family: "MrsEavesBold";
    src: url("../fonts/MrsEavesBold.ttf");
} 

#mainAnchor {
    -fx-background-image: url("/imagenes/fondoMain.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
}

#tituloAkinator {
    -fx-font-family: "Minangkabau", Arial;
    -fx-font-size: 85px;
    -fx-text-fill: linear-gradient(#fee69d, #ffa303);
    -fx-effect: dropshadow(gaussian, #8B0000, 5, 0.8, 3, 3);
    -fx-stroke: #8B0000;
    -fx-stroke-width: 2px; 
} 

#botonPlay, #botonOptions {
    -fx-font-family: "MrsEavesBold" Arial;
    -fx-font-size: 28px;
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(#FFD700, #FFA500);
    -fx-border-color: #894601;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0, 1, 2;
    -fx-effect: innershadow(gaussian, #FFFFFF80, 10, 0.5, 0, -2);
}

#btnRegresar, #btnReset, #btnSiResultado, #btnNoResultado, #btnHome, #btnAlerta {
    -fx-font-family: "MrsEavesBold" Arial;
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(#FFD700, #FFA500);
    -fx-border-color: #894601;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0, 1, 2;
    -fx-effect: innershadow(gaussian, #FFFFFF80, 10, 0.5, 0, -2);  
}

#btnEnviar {
    -fx-font-family: "MrsEavesBold" Arial;
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0, 1, 2;
    -fx-effect: innershadow(gaussian, #FFFFFF80, 10, 0.5, 0, -2); 
}

#botonSi, #botonNo {
    -fx-font-family: "MrsEavesBold" Arial;
    -fx-font-size: 28px;
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(#FFD700, #FFA500);
    -fx-border-color: #894601;
    -fx-background-insets: 0, 1, 2;
    -fx-effect: innershadow(gaussian, #FFFFFF80, 10, 0.5, 0, -2);
}

#txtUEES, #lblAkinatorFinal, #preguntaPerdida1, #preguntaPerdida2 {
    -fx-font-family: "MrsEavesBold" Arial;
    -fx-font-size: 20px;
    -fx-text-fill: black;
}

#labelPregunta, #labelOptions {
    -fx-font-family: "MrsEavesBold" Arial;
    -fx-text-fill: black;
    -fx-font-size: 28px;
}

#labelNum, #personajeEs {
    -fx-font-family: "MrsEavesBold" Arial;
    -fx-text-fill: black;
    -fx-font-size: 20px;
}

#labelMusica, #labelSFX, #labelBrillo, #labelAnimaciones {
    -fx-font-family: "MrsEavesBold" Arial;
    -fx-text-fill: black;
    -fx-font-size: 20px;
}

.slider .thumb {
    -fx-background-color: black;
    -fx-background-radius: 50%;
    -fx-pref-width: 15px;
    -fx-pref-height: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 2);
}

.slider .track {
    -fx-background-color: #ddd;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.toggle-button {
    -fx-background-color: #e74c3c;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-border-color: #c0392b;
    -fx-border-width: 2px;
    -fx-padding: 5px;
    -fx-pref-width: 60px;
    -fx-pref-height: 30px;
    -fx-alignment: center-left;
}

.toggle-button:selected {
    -fx-background-color: #2ecc71;
    -fx-border-color: #27ae60;
}

.thumb {
    -fx-translate-x: -6px;
    -fx-background-color: white;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.5, 0, 2);
}

.toggle-button:selected .thumb {
    -fx-translate-x: 27px;
}

#labelResultado {
    -fx-font-family: "MrsEavesBold" Arial;
    -fx-text-fill: black;
    -fx-font-size: 24px;
}

#akinatordice {
    -fx-font-family: "MrsEavesBold" Arial;
    -fx-text-fill: black;
    -fx-font-size: 16px;
}

#alertatexto {
    -fx-font-family: "MrsEavesBold" Arial;
    -fx-text-fill: black;
    -fx-font-size: 20px;
}

#botonPlay:hover, #botonOptions:hover, #botonSi:hover, #botonNo:hover, 
#btnRegresar:hover, #btnReset:hover, #btnSiResultado:hover, #btnNoResultado:hover, #btnHome:hover, #btnAlerta:hover {
    -fx-background-color: linear-gradient(#603813, #B29F94);
    -fx-text-fill: white;
}

#btnEnviar:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
}

#cerrar, #minimizar {
    -fx-text-fill: black;
    -fx-background-color: transparent;
    -fx-background-radius: 0; 
}

#cerrarAlerta {
    -fx-text-fill: black;
    -fx-background-color: transparent;
    -fx-background-radius: 0; 
}

#cerrar:hover, #cerrarAlerta:hover {
    -fx-background-color: #F42E2E;
    -fx-text-fill: white;
}

#minimizar:hover {
    -fx-background-color:#E8E7E7;
}

#textfield1, #textfield2 {
    -fx-font-family: "MrsEavesBold" Arial;
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-alignment: center;
}
